<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOperationsArithmetiques" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2762/OperationsArithmetiques.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperationsArithmetiques"
                contract="OperationsArithmetiquesService.IOperationsArithmetiques"
                name="BasicHttpBinding_IOperationsArithmetiques" />
        </client>
    </system.serviceModel>
</configuration>